/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
}

a {
    text-decoration: none;
}


/* Banner Styles */
.banner {
    background-image: url('https://www.lsbf.org.uk/media/5546378/accounting-tech-blog-banner.png');
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner h1 {
    font-size: 3em;
}

/* Product Section Styles */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    width: 250px;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product-card p {
    font-size: 0.9em;
}

/* Team Section */
.team-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
}

.team-section h2 {
    font-size: 2.5em;
}

.team-section p {
    font-size: 1.1em;
    margin: 20px 0;
    background-image: white;
}

.team-card {
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 20rem;
}

.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.team-card h3 {
    margin: 10px 0;
}

